/* RESET******************************************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul, ol{
	list-style: none;
}
a {
	text-decoration: none;
	color: currentColor;
}
img {
	max-width: 100%;
}
body {
    font-family: "Fredoka", sans-serif;
}


/* LAYOUT***************************************/
.container{
    max-width: 1160px;
}
.container-sm{
    max-width:940px ;
}
.container, .container-sm{
    width: 100%;
    margin: 0 auto;
    padding: 12px 28px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}


/* UTILITIES**********************************/
.flex{
    display: flex;
}
.btn{
    background-color:#FFFFFF ;
    border-radius: 999px;
    color:black
}
.ptb{
    padding: 50px 0;
}

.text{
    font-size: 14px;
    line-height: 1.85em;
}


/* HEADER***********************************/
.page__header{
    background-color: #0084FD;
    margin-bottom: 24px;
}
.page__header .row{
    justify-content: space-between;
    align-items: center;
}
.page__header .logo {
    width: 94px; 
}
.page__header img{
    display: block;
}
.page__header .menu{
    color: white;
    font-size: 30px;
}
.page__header .link{
    display: none;
}


/* CARD ICON SECTION ***********************/
.page__body .col{
    padding: 12px 2px;
}
.card{
    background-color:#B5DDFF ;
    border-radius: 24px;
}
.card__body{
    padding:36px;
}
.card__title{
    color:#0084FD;
    font-size: 22px;
}
.card__text{
    color: #5A6E7F;
    font-weight: 500;
}
.card__body .btn{
    display:inline-block;
    background-color: #0084FD;
    color: white;
    padding:8px 44px;
    text-align: center;
}
.card__body .btn i{
    padding-right:8px;
}
.card__body > *:not(.card__body :last-child){
    padding-bottom:24px;
}
.card__thumb img{
    display: block;
    width:250px;
    margin:0 auto;
}
.card__body:not(.card__body.no-center){
    text-align: center;
}
.card__body .icon{
    display: block;
    font-size: 72px;
    color:#0084FD;
}
/* STRATEGIC PLANNING SECTION ***********************/
.strategic-planning{
    background-color:#9792E4 ;
    color: white;
}
.strategic-planning .strategic__text{
    margin-bottom: 20px;
}
.strategic__img{
    margin-bottom: 80px;
}
.strategic__title{
    font-size: 32px;
    margin-bottom:50px
}
.strategic-planning .card{
    background-color: white;
    color: black;
    border-radius:38px;
    text-align: center;
    padding: 32px 26px;
}
.strategic-planning .card :not(.strategic-planning .card :last-child){
    padding-bottom: 20px;
}
.strategic__card__title{
    font-size: 26px;
}
.strategic__card__text{
    font-size: 18px;
    font-style: italic;
    line-height: 1.85em;
}
.strategic-planning .btn{
    background-color: #9792E4;
    font-size: 20px;
    text-align: center;
    padding:16px 20px;
    border-radius:50%;
    display: inline-block;

}
/************ MEDIA QUERY ******************/


/************ md: tablet ********************/
@media screen and (min-width: 768px) {


/***LAYOUT**********************************/
    .row-md {
        display: flex;
        flex-wrap: wrap;
    }
    .col-4md{
        width: calc(4*100%/12);
    }
    .col-8md{
        width: calc(8*100%/12);
    }


/***CARD ICON SECTION****************************/
    .page__body .no-gutter{
        margin-left: -12px;
        margin-right: -12px;
    }
    .page__body .col{
        padding: 12px;
    }
    .card{
        height: 100%;
    }
    .card__thumb img{
        margin: 0;
    }
/***STRATEGIC PLANNING SECTION *****************/
    .strategic-planning{
        padding: 80px 0;
    }
    .strategic__title{
        font-size: 72px;
    }
    .strategic__text{
        font-size:18px;
    }
}

/************ l: desktop ***********************/
@media screen and (min-width: 992px) {
/****LAYOUTS ********************************/
    .row-l{
        display: flex;
        flex-wrap: wrap;
    }
    .col-6l{
        width: calc(6*100%/12);
    }

/****UTILITIES ********************************/
    .flex-l{
        display: flex;
    }


/****HEADER ********************************/
    .page__header .hamburger {
        display: none;
    }
    .page__header .link{
        display: flex;
        font-size: 16px;
    }
    .link a{
        padding-right:32px ;
    }
    .link .btn{
        padding: 8px 16px;
    }


/****CARD ICON SECTION *********************/
    .card__thumb{
        align-self: flex-end;
    }
    .card__thumb img{
        margin: 0 auto;
    }


/***STRATEGIC PLANNING SECTION *****************/
    .row-l > *{
        padding: 0 30px;
    }
    .strategic__title{
    font-size: 32px;
    }
    .strategic-planning .strategic__text{
        margin-bottom: 50px;
    }
    .bottom {
        align-self: flex-end;
    }
}